@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

$orbitron: 'Orbitron', sans-serif;
$white: #ffffff;
$black: #000000;

body {
  background-color: #eeeeee;
}

.grid-outer {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  font-family: $orbitron;
  border-top: 1px solid $black;
  border-left: 1px solid $black;

  grid-template-areas:
    'credits-bank steel-bank titanium-bank'
    'credits-prod steel-prod titanium-prod'
    'greenery-bank energy-bank heat-bank'
    'greenery-prod energy-prod heat-prod';

  @media screen and (max-width: 767px) {
    grid-template-areas:
      'credits-bank steel-bank'
      'credits-prod steel-prod'
      'titanium-bank greenery-bank'
      'titanium-prod greenery-prod'
      'energy-bank heat-bank'
      'energy-prod heat-prod';
  }

  & > * {
    border-bottom: 1px solid $black;
    border-right: 1px solid $black;
    padding: 10px;

    p {
      margin: 0;
      margin-bottom: 10px;
    }
  }
}

.grid-1 {
  grid-area: credits-bank;
}
.grid-2 {
  grid-area: credits-prod;
}
.grid-3 {
  grid-area: steel-bank;
}
.grid-4 {
  grid-area: steel-prod;
}
.grid-5 {
  grid-area: titanium-bank;
}
.grid-6 {
  grid-area: titanium-prod;
}
.grid-7 {
  grid-area: greenery-bank;
}
.grid-8 {
  grid-area: greenery-prod;
}
.grid-9 {
  grid-area: energy-bank;
}
.grid-10 {
  grid-area: energy-prod;
}
.grid-11 {
  grid-area: heat-bank;
}
.grid-12 {
  grid-area: heat-prod;
}

.count-wrapper-bank {
  display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
	width: 100%;

	& > * {
		padding: 10px;
		border: 1px solid $black;
		margin: 5px 8px;
		min-width: 30px;
		text-align: center;
		border-radius: 4px;
		line-height: 30px;
	}

  .btn-qty {
		font-size: 34px;
		cursor: pointer;
		user-select: none;
  }

  .count {
		font-size: 28px;
		line-height: 26px;
		font-family: $orbitron;
		width: 50px;
  }
}

.count-wrapper-prod {
  display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
	width: 100%;

	& > * {
		padding: 5px;
		border: 1px solid $black;
		margin: 5px 5px;
		min-width: 30px;
		text-align: center;
		border-radius: 4px;
		line-height: 25px;
	}

  .btn-qty {
		font-size: 20px;
		cursor: pointer;
		user-select: none;
  }

  .count {
		font-size: 18px;
		line-height: 26px;
		font-family: $orbitron;
		width: 30px;
  }
}